*{
    margin: 0;
    padding: 0;
}
nav ul li{
    @apply hover:text-gray-400
    cursor-pointer
    transition-colors ease-out duration-500 delay-0
}
nav span lord-icon{
    @apply h-6 w-6 md:h-7 md:w-7
}
.download lord-icon{
    @apply h-10 w-10
}

form input{
    @apply 
    shadow-lg
    hover:shadow-2xl
    placeholder:text-pink-400 rounded-full p-1 lg:p-2 outline-none
    shadow-blue-400/50
    w-4/5  lg:w-full
    gap-4
}


